<html>
    <head>
        <title>The Ultimate Review</title>
    </head>
    <body>

        <div>
            <h1>The Ultimate Review</h1>
        </div>

				<label>Type your query here</label>

				<div>
					<form name="cse" id="searchbox_demo" action="https://www.google.com/cse">
						<input type="hidden" name="cref" value="" />
						<input type="hidden" name="ie" value="utf-8" />
						<input type="hidden" name="hl" value="" />
						<input name="q" type="text" size="40" />
						<input type="submit" name="sa" value="Search" />
					</form>
					<script type="text/javascript" src="https%3A%2F%2Fcse.google.com%2Fcse/tools/onthefly?form=searchbox_demo&lang="></script>
				</div>

				<div>
						<h2><a href="">Login</a></h2>
        </div>

        <div>
            <h3><a href="">My Reviews</a></h3>
            <p>Go to your reviews</p>
        </div>

        <div>
            <h4><a href="">About</a></h4>
            <p>Learn about the ultimate review.</p>
        </div>
    </body>
</html>
